.submit {
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.submit button {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    background-color: #171717;
    padding: 1em 2em;
    border: none;
    border-radius: .6rem;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.submit button span:not(:nth-child(6)) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 30px;
    width: 30px;
    background-color: #ca3a16;
    border-radius: 50%;
    transition: .6s ease;
}

.submit button span:nth-child(6) {
    position: relative;
}

.submit button span:nth-child(1) {
    transform: translate(-3.3em, -4em);
}

.submit button span:nth-child(2) {
    transform: translate(-6em, 1.3em);
}

.submit button span:nth-child(3) {
    transform: translate(-.2em, 1.8em);
}

.submit button span:nth-child(4) {
    transform: translate(3.5em, 1.4em);
}

.submit button span:nth-child(5) {
    transform: translate(3.5em, -3.8em);
}

.submit button:hover span:not(:nth-child(6)) {
    transform: translate(-50%, -50%) scale(4);
    transition: 1.5s ease;
}

/* code for timer */

.timer-container {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: Arial, sans-serif;
}

.timeLeft{
    display: flex;
    align-items: center;
    font-family: "Arima";
}

.timer {
    border: 1.8px solid #ca3a16;
    background-color: #ca3a1610;
    font-size: large;
    font-weight: bold;
    color: #ca3a16;
    padding: 0.2em 0.4em;
    border-radius: 1em;
}

/* code for hard submit */
#main nav button.submit{
    border: 3px solid #ca3a16;
    background-color: #ca3a1610;
    color: #ca3a16;
    font-family: "Arima";
    border-radius: 1.5em;
    padding: 0.5em 1.5em;
    font-weight: 800;
    cursor: pointer;
}